@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap");

:root {
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);
    --grayish-violet: hsl(257, 7%, 63%);
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.50rem;
    padding: 4rem 12vw;
    margin-bottom: 5vh;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 1.5rem;
    height: 0.1875rem;
    margin: 0.3125rem auto;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

.left, .right {
    display: flex;
}

.left ul, .right ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-weight: 700;
}

.left ul a, .right ul a {
    text-decoration: none;
    padding: 0.5em 1em;
    color: var(--grayish-violet);
    cursor: pointer;
}

.nav-logo {
    margin: 0;
    padding: 0;
}

.nav-link.active:hover {
    background-color: #b1f7f7;
}

.sm {
    display: none;
}

.right ul .active {
    background: var(--cyan);
    padding: 0.5em 1.5em;
    border-radius: 1em;
    color: #fff;
    transition: background-color 0.4s ease-in-out;
}

@media (max-width: 1400px) {
    header {
        padding: 1.25rem 8vw;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .nav-menu {
        position: absolute;
        width: 70%;
        top: 60px;
        left: 100%;
        transform: translateX(-120%);
        flex-direction: column;
        text-align: center;
        background-color: var(--dark-violet);
        transition: 0.4s ease;
        padding: 2em 0;
        border-radius: 0.5em;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1em 0;
    }

    .nav-logo {
        padding: 0.5em 1.5em;
    }

    .nav-item .nav-link {
        color: #fff;
    }

    .sm {
        display: block;
    }

    .left ul .nav-link.active {
        background: var(--cyan);
        padding: 0.8em 4em;
        border-radius: 1.5em;
        color: #fff;
    }

    .right {
        display: none;
    }

    header {
        padding: 8em 5%;
    }
}

@media (max-width: 768px) {
    .nav-menu {
        position: absolute;
        width: 90%;
        left: 97%;
        top: 60px;
        transform: translateX(-100%);
        flex-direction: column;
        text-align: center;
        background-color: var(--dark-violet);
        transition: 0.4s ease;
        padding: 2em 0;
        border-radius: 0.5em;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1em 0;
    }

    .nav-logo {
        padding: 0.5em 1.5em;
    }

    .nav-item .nav-link {
        color: #fff;
    }

    .sm {
        display: block;
    }

    .left ul .nav-link.active {
        background: var(--cyan);
        padding: 0.8em 4em;
        border-radius: 1.5em;
        color: #fff;
    }

    .right {
        display: none;
    }

    header {
        padding: 1em 5%;
    }
}

@media (min-width: 769px) and (max-width: 1400px) {
    header {
        padding: 1.25rem 10vw;
    }

    .nav-menu {
        justify-content: space-between;
    }

    .left ul a, .right ul a {
        padding: 0.5em 1.25em;
    }

    .right ul .active {
        padding: 0.5em 1.25em;
    }
}
