@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap");

:root {
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);
    --grayish-violet: hsl(257, 7%, 63%);
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10vw;
    margin-bottom: 5vh;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 24px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left, .right {
    display: flex;
}

.left ul, .right ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-weight: 700;
}

.left ul a, .right ul a {
    text-decoration: none;
    padding: 0.5em 1em;
    color: var(--grayish-violet);
    cursor: pointer;
}

.nav-logo {
    margin-right: 2vw;
    margin-left: -2vw;
}

.nav-link.active:hover {
    background-color: #b1f7f7;
}

.sm {
    display: none;
}

.right ul .active {
    background: var(--cyan);
    padding: 0.5em 1.5em;
    border-radius: 1em;
    color: #fff;
    transition: background-color 0.4s ease-in-out;
}

@media (max-width: 1400px) {
    header {
        padding: 2vh 5vw;
    }

    @media (max-width: 768px) {
        .hamburger {
            display: block;
            cursor: pointer;
        }

        .nav-menu {
            position: absolute;
            width: 100%;
            top: 60px;
            left: 105%;
            transform: translateX(-100%);
            flex-direction: column;
            text-align: center;
            background-color: var(--dark-violet);
            transition: 0.4s ease;
            padding: 2em 0;
            border-radius: 0.5em;
        }

        .nav-menu.active {
            left: 0;
        }

        .nav-item {
            margin: 1em 0;
        }

        .nav-logo {
            padding: 0.5em 1.5em;
        }

        .nav-item:nth-child(3)::after {
            content: "";
            display: block;
            border-bottom: 0.2px solid var(--grayish-violet);
            margin-top: 1.5em;
            padding: 0 7em;
        }

        .nav-item .nav-link {
            color: #fff;
        }

        .sm {
            display: block;
        }

        .left ul .nav-link.active {
            background: var(--cyan);
            padding: 0.8em 4em;
            border-radius: 1.5em;
            color: #fff;
        }

        .right {
            display: none;
        }

        header {
            position: fixed;
            z-index: 1;
            width: 90%;
            padding: 1em 5%;
            justify-content: space-between;
        }
    }
}
